lcontacto.dtd

<!ELEMENT lcontacto (contacto+)>
<!ELEMENT contacto (nombre, apellido, edad, genero, telefono+, correo+, estadoCivil, direccion, profesion, ocupacion)>
<!ATTLIST contacto cedula ID #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT correo (#PCDATA)>
<!ELEMENT estadoCivil (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT profesion (#PCDATA)>
<!ELEMENT ocupacion (#PCDATA)>
