taller2.dtd

<!ELEMENT organizacion (cliente)+>
<!ELEMENT cliente (nombre, apellido, edad, genero, estado_civil, telefono+, correo+, direccion, profesion, ocupasion)>
	<!ATTLIST cliente cedula ID #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT estado_civil (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT correo (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT profesion (#PCDATA)>
<!ELEMENT ocupasion (#PCDATA)>